# Used by dotenv library to load environment variables.
.env

# Ignore Rubymine .idea files
.idea/

## Environment normalization:
/.bundle/
/vendor/bundle
/lib/bundler/man/

# Ignore contents test_result folders
test_results/
test_results/screenshot/

# Keep folder in Git
!test_results/.gitkeep
!test_results/screenshot/.gitkeep

